<div class="hx:flex hx:flex-wrap hx:justify-center hx:sm:justify-start hx:gap-x-6 hx:gap-y-2 hx:py-6 hx:text-sm">
  <a class="hx:hover:text-gray-900 hx:dark:hover:text-gray-100" href="{{ "contributing/" | relURL }}">Contributing</a>
  <a class="hx:hover:text-gray-900 hx:dark:hover:text-gray-100" href="{{ "security/" | relURL }}">Security</a>
  <a class="hx:hover:text-gray-900 hx:dark:hover:text-gray-100" href="{{ "support/" | relURL }}">Support</a>
  <a class="hx:hover:text-gray-900 hx:dark:hover:text-gray-100" href="{{ "code-of-conduct/" | relURL }}">Code of Conduct</a>
  <a class="hx:hover:text-gray-900 hx:dark:hover:text-gray-100" href="https://github.com/git-pkgs/git-pkgs/blob/main/LICENSE">MIT License</a>
</div>
